/* <<<<<<< HEAD */
@import url("https://fonts.googleapis.com/css?family=Lato:100i,300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");

.header {
  background-image: url("photos/block1/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lato", sans-serif;
  padding-top: 30px;
}

.header-menu__button {
  border: none;
}

.header-menu__items {
  margin-top: 10px;
  font-size: 14px;
  color: #26272d;
  font-weight: 400;
  float: right;
}

@media screen and (max-width: 1024px) {
  .header-menu__items {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header-brand {
    height: 20px;
    width: 100px;
  }
}

.header-list {
  width: 25%;
  font-size: 14px;
  color: #1b1c1e;
}

@media screen and (max-width: 1024px) {
  .header-list {
    width: 30%;
  }
}

@media screen and (max-width: 760px) {
  .header-list {
    width: 140px;
  }
}

.header-list__button {
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #267DF4;
  color: white;
  font-size: 14px;
  margin-top: -9px;
}

@media screen and (max-width: 1024px) {
  .header-list__button {
    display: none;
  }
}

.header-list__buttonSmall {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header-list__buttonSmall {
    margin-top: -4px;
    display: block;
    width: 40px;
    height: 30px;
    border-radius: 24px;
    background-color: #267DF4;
  }
}

.header-list__button img {
  height: 20px;
  margin-right: 5px;
  margin-top: -5px;
}

.header-list__buttonSmall img {
  height: 20px;
  margin-left: -3px;
  margin-top: -18px;
}

.header-description {
  margin-top: 8%;
  padding-bottom: 30%;
}

.header-description__title {
  font-size: 62px;
  line-height: 72px;
  color: #26272d;
  font-family: "Varela Round";
  margin-bottom: 2%;
}

.header-description__text {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 3%;
}

.header-description__button {
  width: 180px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 30px;
}

.header-description__button img {
  padding-right: 10px;
}

.features {
  margin-top: 150px;
}

.feature-item {
  font-family: "Lato", sans-serif;
  margin-right: 5%;
  width: 45%;
}

@media screen and (max-width: 1024px) {
  .feature-item {
    width: 100%;
    margin-bottom: 100px;
    margin-right: 0px;
    text-align: center;
  }
}

.feature-item__title {
  font-weight: 300;
  font-size: 26px;
  line-height: 34px;
  color: #26272d;
}

.feature-item__description {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.feature-item img {
  width: 40px;
}

@media screen and (max-width: 1024px) {
  .feature-item img {
    margin-left: auto;
    margin-right: auto;
  }
}

.phone-img {
  width: 50%;
  height: auto;
  margin-left: -120px;
}

@media screen and (max-width: 1024px) {
  .phone-img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

@media screen and (max-width: 760px) {
  .phone-img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.phone {
  margin-top: 200px;
}

@media screen and (max-width: 1024px) {
  .phone {
    margin-top: 50px;
  }
}

.phone-description {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-left: 11%;
  margin-top: 5%;
}

@media screen and (max-width: 1024px) {
  .phone-description {
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

.phone-description__title {
  font-size: 42px;
  line-height: 52px;
  color: #26272d;
  font-family: "Varela Round", sans-serif;
}

.phone-description__text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
}

.phone-description__buttons {
  font-size: 16px;
  text-align: center;
}

.phone-description__buttonsFirst {
  color: white;
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 30px;
  background-color: #267DF4;
  margin-right: 40px;
}

.phone-description__buttonsSecond {
  border: 2px solid grey;
  color: #26272d;
  width: 150px;
  height: 45px;
  border-radius: 30px;
}

.phone-description__buttons img {
  margin-left: 40px;
}

@media screen and (max-width: 760px) {
  .phone-description__buttons img {
    margin-left: 0px;
  }
}

.map-img {
  width: 50%;
  height: auto;
  margin-left: 100px;
}

@media screen and (max-width: 1024px) {
  .map-img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

.map {
  margin-top: 200px;
}

.map-description {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-left: 11%;
}

@media screen and (max-width: 1024px) {
  .map-description {
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

.map-description__title {
  font-size: 42px;
  line-height: 52px;
  color: #26272d;
  font-family: "Varela Round", sans-serif;
}

.map-description__text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
}

.map-description__logos {
  font-size: 16px;
  text-align: center;
}

.map-description__logos img {
  margin-right: 50px;
}

=======html,
body {
  font-family: 'Roboto', sans-serif;

}


/*screens*/
.title_5 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 64px;
  font-weight: 400;
}

.title_5::after {
  content: "";
  display: block;
  background-color: #267df4;
  width: 40px;
  height: 3px;
  align-content: center;
  margin: 50px auto 0;
}

#screens {
  padding: 140px 0 80px;
  position: relative;
  background-color: #f5f5f8;
  overflow: hidden;
}

.sub_text {
  text-transform: uppercase;
  color: #8c8f94;
  font-weight: 700;
  font-size: 12px;
}

.images_screens {
  display: flex;
  justify-content: space-around;

}

.images {
  margin-top: 70px;
  margin-left: 15px;
  margin-right: 15px;
  filter: drop-shadow(0 0 5px rgba(102, 100, 100, 0.5));
}

.center_img {

  filter: drop-shadow(0 0 5px rgba(102, 100, 100, 0.5));
}

/*get email*/

#get_email {
  padding: 100px 0 80px;
  position: relative;
  background-color: #f5f5f8;
  overflow: hidden;
}

.sub_text_light {
  text-transform: uppercase;
  color: #8c8f94;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.5;
}

.title_5_1 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 64px;
  font-weight: 400;
  margin: 50px;
}

.form_group {
  position: relative;
  width: 502px;
  max-width: 100%;
  margin: 0 auto;

}

.green_buton {
  font-size: 16px;
  font-weight: 400;
  padding: 9px 16px;
  text-decoration: none;
  color: #fbfbfd;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 30px;
  background-color: #6fc754;
  position: absolute;
  top: 3px;
  right: 4px;

}

input[type="email"] {
  width: 502px;
  height: 50px;
  max-width: 100%;
  border: 1px solid rgba(38, 39, 45, 0.2);
  padding: 16px 26px;
  font-size: 16px;
  background-color: transparent;

  border-radius: 30px;

}

.sub_text_light2 {
  text-transform: uppercase;
  color: #8c8f94;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.5;
  margin-top: 65px;
}

/* >>>>>>> ivan */